* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 245, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: rgb(255, 60, 0);
}

#your-name {
  background-color: rgba(255, 167, 4, 0.445);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  color: rgb(25, 0, 255);
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 400px;
}

#your-name h2 {
  color: olivedrab;
}

#your-name p {
  color: rgb(230, 51, 253);
}
